<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />    
</head>
<body>
    <h1>Danh sách người dùng </h1>
    <ul>
      
        <% users.forEach( user => { %>
            <div class="bootstrap-iso">
            <li>
                <%= user.username %>
                |
                <a href="/upload-gallery/<%=user.username%>">
                    <button>UploadGallery</button> </a>
                |
                <a href="/upload-avatar-gallery/<%= user.username %>">
                    <button>UploadGallery&Avatar</button>
                </a>
                |
                <%if(user.gallery.length != 0){%>
                    <a href="/show-photos/<%=user.username%>">
                            <button>Show hình</button>
                    </a>
                <%}%>
              
            </li>
        </div>
        <% }) %>
           
    </ul>
    <a href="/create-user">
      <button class="btn btn-primary"> Thêm người</button>
    </a>
   
</body>
</html>