<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Gallery</h1>
    <ul>
        <% infoUser.gallery.forEach(photo => {%>
            <div>
                    <li>
                        <%= photo.name%>
                        | create at:
                        <%= photo.createAt%>
                        |
                        <a href="/remove-gallery/<%= infoUser.username %>/<%= photo.name %>">
                            <button>Xóa</button>
                        </a>
                    </li>
            </div>
        <%})%>      
    </ul>
    <h1>Avatar</h1>
    <ul>
        <% infoUser.avatars.forEach(photo => {%>
            <div>
                    <li>
                        <%= photo.name%>
                        | 
                        create at:<%= photo.createAt%>
                        |
                        <a href="/remove-avatar/<%= infoUser.username %>/<%= photo.name %>">
                            <button>Xóa</button>
                        </a>
                        |
                     
                        isActive:<%=photo.isActive%>
                        |
                        <%if(!photo.isActive){%>
                            <a href="/active-avatar/<%=infoUser.username%>/<%= photo.name %>">
                                <button>Active</button>
                            </a>
                        <%}%>
                       
                    </li>
            </div>
        <%})%>      
    </ul>
</body>
</html>