<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/upload-avatar-gallery/<%=infoUser.username%>" enctype="multipart/form-data" >
       <div>
        <label>Avatar</label>
        <input  type="file" name="avatar">
       </div> 
       <div>
        <label>Gallery</label>
        <input type="file" name="gallery" multiple>
       </div>
        <div class="">
            <input type="submit" value="upload" >
        </div>
     
    </form>
</body>
</html>