<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/upload-gallery/<%= infoUser.username%>" enctype="multipart/form-data" >
        <input type="file" name="gallery" multiple>
        <input type="submit" value="upload" >
    </form>
   
</body>
</html>